
/* index.html */
.nav-link:hover{
    transition:0.2s;
    opacity:0.9;
    font-size:25px;
}
.intro{
    font-size:20px;
    color:gray;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #008CBA; */
    background-color:#000;
    border-radius:50%;
}

.imageLink{
    padding:3px;
    border:1px solid black;
}

a:hover .overlay {
    opacity: 0.85;
}
  
.text {
    color:#fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

a:hover .text{
    opacity: 1;
    display:flex;
}



/* subject section */
#subject{
    background: rgb(248,189,215);
    background: radial-gradient(circle, rgba(248,189,215,1) 0%,rgba(49,217,255,1) 100%);
}

.subjectHeading{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color:#fff;
}

.labHeading{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}


/* Material.html */
.btn:hover{
    text-decoration:none;
}


.heading{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}


/* footer */
.copyright a {
   text-decoration: none;
}
/* .pink{
    color:#ff0077; 
} */
.copyright{
    background: rgb(248,189,215);
    background: radial-gradient(circle, rgba(248,189,215,1) 0%,rgba(49,217,255,1) 100%);
    padding:30px 0px;
    font-size: 20px;
}

